.footer {
    font-size: 14px;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.footer .search {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.4;
    text-transform: capitalize;
    margin-bottom: 24px;
}

/* start code */
.search__action input {}

.search__action button {}